@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter";
  margin: 0;
  background-color: #dcd5d5; /* Set the background color of the body */
}
header {
  background-color: #333; /* Set the background color of the header */
  padding: 20px;
  color: white;
  font-family: "Comic Sans Ms";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav {
  overflow: hidden; /* Hide the overflow content of the nav element */
  background-color: #272626;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: #fff;
  padding: 14px 90px 11px 90px; /*top right bottom left*/
  text-decoration: none;
}
nav a:hover {
  background-color: black;
  color: white;
}

/*line 19-class ko name (.column)*/
.column {
  float: left;
  padding: 10px;
}
.column.side {
  gap: 7px;
  display: flex;
}
.image-container,
.content-container {
  width: 50%;
}
.image-container img {
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 100px;
}
.column.side p {
  width: 100%; /* Adjust the width of paragraphs within the side column */
}

footer {
  clear: both; /*if overlap vayera aayo vane content tala aauxa*/
  background-color: green; /* Set the background color of the header */
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Comic Sans Ms";
}
p {
  text-align: justify; /*paragraph vitra ko text laicorrect form am milaidinxa*/
}
div.gallery {
  margin: 5px;
  border: 5px solid black;
  float: left;
  width: 200px;
}
div.gallery:hover {
  border: 5px solid red;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  margin: 2px;
}
